doctype html
html
  head
    meta(charset='UTF-8')
    title Index - IEEE
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/materialize.min.css')
  body
    block content

